doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Popup)
    style.
      body { width: 800px; margin: 0; }
      @keyframes fadeInLeft {
        from {
          opacity: 0;
        }

        to {
          opacity: 0.1;
        }
      }

  body
    #root
    script(src=env == 'prod' ? '/js/popup.bundle.js' : 'http://localhost:3000/js/popup.bundle.js')
